!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
*.conf
home-assistant_v2.db
home-assistant.log
git_token.txt
.homekit.state
.uuid
.HA_VERSION
home-assistant_v2.db-shm
home-assistant_v2.db-wal
custom_components/__pycache__
*pycache*
.cloud/*
airsonos.xml
.storage/*
hassio.code-workspace
.storage
.ip_authenticated.yaml
scripts/shutdown_ds118.sh
alexa_mediaorder@tanzer-online.comget.html
alexa_mediaorder@tanzer-online.compost.html
scripts/backup.sh
