!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
*.conf
home-assistant_v2.db
home-assistant.log
git_token.txt
.homekit.state
.uuid
.HA_VERSION
home-assistant_v2.db-shm
home-assistant_v2.db-wal
custom_components/__pycache__
*pycache*
.cloud/*
.storage/*
hassio.code-workspace
.storage
.ip_authenticated.yaml
scripts/shutdown_ds118.sh
home-assistant.log.1
home-assistant.log.fault
scripts/ds118_shutdown.sh
.ssh/id_rsa.pub
.ssh/id_rsa
scripts/*
